/play-seed/logs
/play-seed/project/project
/play-seed/project/target
/play-seed/target
/play-seed/tmp
/play-seed/.history
/play-seed/dist
/play-seed/.idea
/play-seed/*.iml
/play-seed/out
/play-seed/.idea_modules
/play-seed/.classpath
/play-seed/.project
/play-seed/RUNNING_PID
/play-seed/.settings
/play-seed/target
/target
.idea/
/play-seed/.metadata
/play-seed/files
